@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #fdfcfc, #f538a3); 

}

.wrapper{
    position: absolute;
    width: 1000px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

i{
    font-size: 7.5em;
    color: #a62ae8;
    text-decoration: none;
    /* border: 5px solid transparent; */
    /* outline: 3px solid #7d2ae8; */
    /* border-radius: 50%; */

}




h2{
    font-size: 3em;
    color: #a62ae8;
    margin: 15px 0;

}

input[type="button"]{
    color: #fff;
    background: #a62ae8;
    border-radius: 10%;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    border: 2px solid a62ae8;
}

h2 {
    position: absolute;
    /* margin-top: 30vh; */
    width: 100%;
    text-align: center;
    /* font-size: 333%; */
    font-family: sans-serif;
    /* color: grey; */
    opacity: 0.5;
    justify-content: center;
  }
  
  canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
  }